*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


form {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    font-family: Halant;
    font-style: normal;

  
}

label {
    width: 40%;
    display: inline-block;
}


.Gend {
    width: 40%;
}


p{
    font-family: 'Halant';
      font-weight: 600;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #000000
      
}

.lab12 {
    width: 25%;

}

.button {
    width: 70%;
    
}

.but button {
    border: 2px solid #155EEF;
    width: 25%;
    background-color: #155EEF;
    color: #FFFFFF;
    font-size: 10px;
    padding: 10px;
}

.cat {
    padding: 4px;
    width: 25%;
    
}

h2 {
    margin-bottom: 10px;
    font-family: 'Halant';
    font-weight: bolder;
    font-size: 35px;
    
}

.but .cat {
 margin: auto;
 height: 24px;
 padding: 4px;
 border-radius: var(#FFFFFF);
top: 70px;

}

button {
height: 5px;
width: 400px;
left: 45px;
top: 10px;
border-radius: 0px;

}


